/*header*/
#header #breadcrumbs_home {
    width: 70%;
}
ul.breadcrumb{
	float: none;
width: 100%;
	margin: 0 auto;
}
ul.breadcrumb li {
	float: left;
}
.lingua {
    width: 70%;
    margin-top: 2%;

}
#botton_menu {
    width: 30%;
    font-size: 2.5em;
    font-weight: 1000;

}

/*menu mobile*/

/*MIN WIDTH 481px - MAX WIDTH 600PX*/

/*--------------------------------
------------- ALLENATORI -------------
----------------------------------*/

#allenatori_section dd p{
  font-size: 80%;
}

/*--------------------------------
------------- END ALLENATORI -------------
----------------------------------*/


/*--------------------------------
------------- ABBONAMENTI -------------
----------------------------------*/
.Abbonamento p{
  font-size: 70%;
}

/*--------------------------------
------------- END ABBONAMENTI -------------
----------------------------------*/

/*--------------------------------
------------- CORSI -------------
----------------------------------*/
.corso p{
  font-size: 70%;
}

/*--------------------------------
------------- END CORSI -------------
----------------------------------*/

/*--------------------------------
------------- FOOTER -------------
----------------------------------*/

/*--------------------------------
----------END FOOTER -------------
----------------------------------*/
