
  h1,h2,h3,h4{
    font-weight: bold;
  }
h1{
	font-size: 1.30em;
	margin: 2% 0;
}
h2{
	font-size: 2em;
	margin: 2% 0;
}
h3{
	font-size: 1.20em;
	margin: 2% 0;
}
h4{
	font-size: 1.15em;
	margin: 2% 0;
}
/*mobile menu*/
.cd-accordion-menu {

  margin: 20% auto 0 auto;
  text-align: left;
}
#acordion_group ul{
text-align: center;

background-color: #35383d;
}
#acordion_group ul li{
  padding-right: 30%;
}
/*--------------------------------
-------ALLENATORI ------
----------------------------------*/

#allenatori_section #allenatori_content{
    width: 95%;
}
#allenatori_section .allen1 .socials_links{
    width: 100%;
    margin: 0;
}
#allenatori_section .allen1 .socials_links li{
  width: 25%;
  margin: 0;
  text-align: center;
  font-size: 2em;
}

#allenatori_section #allenatori_content dl{
    width: 94%;
    margin: 3% 3% 6% 3%;
  }

  .allenatore dd img{
    max-width: 30%;
display: block;
margin: 0 auto;
  }
  #allenatori_section dd p{
    width: 80%;
    font-size: 1.3em;
  }

/*--------------------------------
-------ALLENATORI END ------
----------------------------------*/

/*--------------------------------
-------ABBONAMENTI ------
----------------------------------*/

#prezzi_section #content_prezzi{
  width: 90%;
}
#prezzi_section #content_prezzi dl{
  width: 90%;
  margin :2% 5% 9% 5%;
}

.Abbonamento dt{
  font-size: 1.5em;
}

#content_prezzi p{
  font-size: 1.2em;
  padding: 2%
}
#content_prezzi .prezzoAbbonamento{
  font-size: 2.3em;
}



#content_prezzi a{
    width: 25%;
    padding: 2%;
}
#content_prezzi .buttonPrezzi{
	padding: 5% 0;
  font-size: 1.2em;
}
.Abbonamento dd img{
  width: 100%;
  height: auto;
}


/*--------------------------------
-------ABBONAMENTI END ------
----------------------------------*/

/*--------------------------------
-------CORSI ------
----------------------------------*/
#content_corsi{
  width: 95%
}


#content_corsi .corso{
  width: 94%;
  float: left;
  margin: 0;
  margin:2% 3% 7% 3%;
}
.corso p{
  font-size: 1.1em;

}
/*--------------------------------1
-------END CORSI ------
----------------------------------*/


/*--------------------------------1
-------FORM+MAP ------
----------------------------------*/
#cont-form-map {
  display: block;
}
#container {
  width: 100%;
}
#googleMap{
  width: 100%;
  float: left;
  overflow: visible;
}
/*--------------------------------1
-------END FORM+MAP ------
----------------------------------*/

/*--------PAGINA------------
-----PROGRAMMAZIONE CORSI --------
----------------------------------*/
#custom_select{
  font-size: 1.5em;
}
select #seleziona_corso{

}
#TimeTable{
  display: none;
}
#OrarioContent{
  width: 85%;
}
#MobileTimeTable{
  display: block;
  border: 1px solid silver;
  padding: 0 5%;
  font-size: 2em;
}
#MobileTimeTable h3{
  text-align: left;
}
#MobileTimeTable ul{
  list-style: none;
}
.MobileTimeTableHeadline{
  padding-top: 4%;
}
.MobileTimeTableDaylyPlanTime{
  border-top: 1px solid silver;
  padding: 3% 0;
  color: #262626;
}
.MobileTimeTableDaylyPlanTime div{
	display: inline-block;

}
.MobileTimeTableDaylyPlanTime:last-child{
	border-bottom: 1px solid silver;
}
.MobileTimeTableDaylyPlanTime a:visited{
  color: black;
}
.MobileTimeTableClassName{
  width: 60%;
  padding-left: 7%;
}
.MobileTimeTableClassTime{
  padding-top: 3%;
}
/*--------------------------------
--- END PROGRAMMAZIONE CORSI -----
------------PAGINA---------------*/

/*MIN WIDTH 321PX - MAX WIDTH 480PX*/
/*--------------------------------
------------- FOOTER -------------
----------------------------------*/
#footer{
  font-size: 0.8em;
}
#footer h2{
  font-size: 2em;
}
#links{
    width: 45%;
}
#links p{
    padding-bottom: 5%;
}
#socials{

}
#socials li{
    margin-right:6%;
}
#societa{
    width: 55%;
    float: left;
}
#orario{
    width: 55%;
    float: left;
}
#contattiFooter{
    width: 55%;
}
#validCode img{
    width: 40%;
}
#closure{
  font-size: 1.5em;
}
/*--------------------------------
----------END FOOTER -------------
----------------------------------*/


/*+++++++++++++ Torna su  +++++++++++*/
#tornasu {
  display: none;
  position: fixed;
  bottom: 3%;
  right: 3.5%;
  z-index: 99;
  font-size: 1.1em;
  border: none;
  outline: none;
  background-color: #fff;
  color: #f6214b;
  cursor: pointer;
  padding: 1.4%;
  border: 1px solid #f6214b;
  border-radius: 4px;
}

#tornasu:hover {
  background-color: #f6214b;
  color: #fff;
}