 *{
	font-size: 1.0975em;}
  h1,h2,h3,h4{
    font-weight: bold;
  }
h1{
	font-size: 1.30em;
	margin: 2% 0;
}
h2{
	font-size: 1.25em;
	margin: 2% 0;
}
h3{
	font-size: 1.20em;
	margin: 2% 0;
}
h4{
	font-size: 1.15em;
	margin: 2% 0;
}
/*--------------------------------
-------ALLENATORI ------
----------------------------------*/

#allenatori_section #allenatori_content{
    width: 90%;
}
#allenatori_section .allen1 .socials_links{
    width: 100%;
    margin: 0;
}
#allenatori_section .allen1 .socials_links li{
  width: 25%;
  margin: 0;
  text-align: center;
}

dl{
    float:none;
    width: 100%;
    margin: 3% 0 5% 0;
  }
  #allenatori_section dd p{
      font-size: 70%;
      width: 100%;
      padding-bottom: 2%
  }
  dt{
  font-size: 70%;
  }
  .allenatore dd img{
    width: 70%;
float: none;
display: block;
margin: 0 auto;
  }

/*--------------------------------
-------ALLENATORI END ------
----------------------------------*/

/*--------------------------------
-------ABBONAMENTI ------
----------------------------------*/

#prezzi_section #content_prezzi{
  width: 70%;
}
#prezzi_section #content_prezzi dl{
  width: 100%;
  margin :2% 0 3% 0;
}
#prezzi_section #content_prezzi dd{

  font-size: 60%;
}

.Abbonamento p{
  padding: 2%;
}
#content_prezzi a{
    width: 25%;
    padding: 2%;
}
#content_prezzi .buttonPrezzi{
	margin: 2% 0;
}
.Abbonamento dd img{
  width: 100%;
  height: auto;
}

/*--------------------------------
-------ABBONAMENTI END ------
----------------------------------*/

/*--------------------------------
-------CORSI ------
----------------------------------*/
#content_corsi .corso{
  width: 100%;
  float: left;
  margin: 0;
  border-bottom: 3px solid #eee;
  margin:2% 0 7% 0;
}
.corso p{
  font-size: 50%;

}
/*--------------------------------1
-------END CORSI ------
----------------------------------*/


/*--------------------------------1
-------FORM+MAP ------
----------------------------------*/
#cont-form-map {
  display: block;
}
#container {
  width: 100%;
}
#googleMap{
  width: 100%;
  float: left;
  overflow: visible;
}
/*--------------------------------1
-------END FORM+MAP ------
----------------------------------*/

/*--------PAGINA------------
-----PROGRAMMAZIONE CORSI --------
----------------------------------*/
#custom_select{
  font-size: 1.5em;
}
select #seleziona_corso{
  
}
#TimeTable{ 
  display: none;
}
#OrarioContent{
  width: 85%;
  text-align: center;
}
#MobileTimeTable{
  display: block;
  border: 1px solid silver;
  padding: 0 5%;
}
#MobileTimeTable ul{
  list-style: none;
}
.MobileTimeTableHeadline{
  padding-top: 4%;
}
.MobileTimeTableDaylyPlanTime{
  border-top: 1px solid silver;
  padding: 3% 0;
  color: #262626;
}
.MobileTimeTableDaylyPlanTime a:link{
  color: black;
}
.MobileTimeTableDaylyPlanTime a:visited{
  color: black;
}
.MobileTimeTableClassTime{
  padding-top: 3%;
  font-size: 0.5em;
}
/*--------------------------------
--- END PROGRAMMAZIONE CORSI -----
------------PAGINA---------------*/


/*--------------------------------
-------PRAGRAMMAZIONE CORSI ------
----------------------------------*/


#mtt{ /*mobile time table*/
	margin: 18%;
	border: 1px solid silver;
}
#mtt ul {
	list-style: none;
}
#mttList{
	margin: 8%;
}
.mttIHeadline{
	margin: 8% 0;
}
.mttDaylyPlan{
	margin: 10% 0;

}
.mttDaylyPlan li{
	border-bottom: 1px solid silver;
}
.mttDaylyPlan li:first-child{
	border-top: 1px solid silver;
}
.mttDaylyPlanTime .mttClassName, .mttDaylyPlanTime .mttClassTime{
	margin: 2.5% 0;


}
.mttDaylyPlanTime{
	display: inline-block;
	width: 100%;

}
.mttClassName {
	text-decoration: none;
	float: left;
}
.mttClassName a{
	text-decoration: none;
}
.mttClassName a:link{
	color: black;
}
.mttClassName a:visited{
	color: black;
}
.mttClassTime{
	font-size: 0.75em;
	padding-left: 5%;
	padding-top: 1%;
	float: left;

}
/*--------------------------------
--- END PRAGRAMMAZIONE CORSI -----
----------------------------------*/

/*MIN WIDTH 321PX - MAX WIDTH 480PX*/
/*--------------------------------
------------- FOOTER -------------
----------------------------------*/
#footer{
  font-size: 0.8em;
}
#footer h2{
  font-size: 2em;
}
#links{
    width: 45%;
}
#links p{
    padding-bottom: 5%;
}
#socials{
 
}
#socials li{
    margin-right:6%;
}
#societa{
    width: 55%;
    float: left;
}
#orario{
    width: 55%;
    float: left;
}
#contattiFooter{
    width: 55%;
}
#validCode img{
    width: 40%;
}
#closure{
  font-size: 1.5em;
}
/*--------------------------------
----------END FOOTER -------------
----------------------------------*/
