/*header*/
#header{
        font-size: 0.8em;
}
#breadcrumb{
    width: 100%;
}
/*--------------------------------
------------- HOME -------------
----------------------------------*/

#contact_us_form{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
/*--------------------------------
------------- FOOTER -------------
----------------------------------*/
#footer{
    font-size: 1.2em;
}
#sections{
    text-align: center;
}
#links{
    width: 100%;
    font-size: 1.3em;
    overflow: auto;
}
#linksPart1{
    margin: 0;
    width: 100%;
}
#linksPart2{
    margin: 0;
    width: 100%;
}
#footer h2{
    text-align: center;
}
#societa{
    width: 100%;
}
#orario{
    width: 100%;
}
#contattiFooter{
    width: 100%;
}
#validCode{
    width: 100%;
    padding-top: 3%;
}

#validCode img{
    width: 20%;
}

/*--------------------------------
----------END FOOTER -------------
----------------------------------*/


/********Admin*****/


.admin-ul li {
    text-align: center;
    float: none;
  }
  /********Hossaain*****/
  /********Admin*****/
.span.register {
    
    display: block;
    float: none;
 }

 .form-content{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
  }