/*MAX WIDTH 320PX*/
/*--------------------------------
------------- FOOTER -------------
----------------------------------*/
#footer{
    font-size: 1.2em;
}
#sections{
    text-align: center;
}
#links{
    width: 100%;
    font-size: 1.3em;
    overflow: auto;
}
#linksPart1{
    margin: 0;
    width: 100%;
}
#linksPart2{
    margin: 0;
    width: 100%;
}
#footer h2{
    text-align: center;
}
#societa{
    width: 100%;
}
#orario{
    width: 100%;
}
#contattiFooter{
    width: 100%;
}
#socials{
    padding-top: 3%;
    width: 100%;
    margin: 0;
}
#socials li{
    margin: 0 7%;
}
#validCode{
    width: 100%;
    padding-top: 3%;
}

#validCode img{
    width: 20%;
}

/*--------------------------------
----------END FOOTER -------------
----------------------------------*/
