
*{
    margin:0;
    padding: 0;
    font-size: 1em;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
            box-sizing: border-box;
            
}
html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    background-color: #f4f4f4;
}
h1,h2,h3,h4,h5{
    padding: 2% 0;
    text-align: center;
    color:#0c1f34;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
h1{
    font-size: 200%;
    color: #0c1f34;
}
h2{
    font-size: 150%;
}
h3{
    font-size: 120%;
}
h4{
    font-size: 110%;
}

.fab{
  color: #0c1f34;
  font-size: 1.2em;
}
.fab:hover{
  color:#1f5087;
}

.maxWidth{
    max-width: 1200px;
    margin:auto;
    overflow: auto;
}
#main_container{
  max-width: 1200px;
  margin:auto;
  /*overflow: auto;*/
}

/*colori generali link (Valentin)*/
a{font-weight: bold;}
a:link {color: blue;}
a:visited {color: purple;}
a:hover {color: magenta;}
a:active {color: red;}

.btnCommon{
  width: 25%;
  /* margin: auto; */
  background-color: #0c1f34;
  color: #fff;
  padding: 3.1%;
  border-radius: 4px;
}
.btonCommon:hover{
  color: #fff;
  background-color: #8a0620;
    text-decoration: none;
}
/*--------------------------------
------------HEADER(Valentin)------
----------------------------------*/
#header{
    width: 100%;
   /* background-color: #f7f7f7;*/
    font-size: 85%;
    font-weight: bold;
    }
/*--------------------------------
-------SEZIONE BREADCRUMBS(Valentin)------
----------------------------------*/

#first-section-header{
    overflow: auto;
}
#header #breadcrumbs_home{
    display: inline-block;
    width: 100%;
    float: left;
}
/*siccome uso i float negli elementi child di breadcrumbs_home,
il contenitore padre ignora i floats. Aggiungo quindi del contenuto
vuoto tramite la pseudo classe obbligando il contenitore padre ad assumere
la dimensione totale dei div child.*/
#header #breadcrumbs_home:after{
    content: " ";
    display: block;
    clear: both;
}
ul.breadcrumb {
    width: 40%;
    float: left;
    margin-top: 3.5%;
}
ul.breadcrumb .first:before{
    content: "";
}
ul.breadcrumb li {
    display: inline-block;
}
ul.breadcrumb li a:hover {
    text-decoration: none;
}

/*---------------------------------------*/
    /*SEZIONE LINGUA(Valentin)*/
.lingua{
    float: right;
    width: 25%;
    margin-top: 3.5%;
}
.lingua > div{
    float: right;
    min-width: 49% ;
}
.lingua .label_lingua, .lingua #select_lingua {
    display: inline-block;
    float: left;
}

/*---------------------------------
-------NAVIGAZIONE PRINCIPALE (Valentin)------
----------------------------------*/

#main_nav{
    width: 100%;
    overflow: auto;
    background-color: #0c1f34;
}
/*--------LOGO----------*/
.logo{
    width: 20%;
    float: left;
}
.logo img{
    max-width: 95%;
    height: auto;
    float: left;
}
.logo a{
    display: block;
}
.logo_mobile{
    display: none;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #dc0933;
    background-color: #dc0933;
    overflow-y: hidden;
    transition: 1s;
}
.overlay .closebtn {
    position: absolute;
    top: 1%;
    right: 4%;
    font-size: 3em;
    color: #fff;
    text-decoration: none;
}
.cd-accordion-menu {
  width: 100%;
  background: #4d5158;
  margin: 12% auto 0 auto;
}
.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}
.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
  padding: 2% 2% 2% 4%;
  background: #0c1f34;
  color: #ffffff;
  font-size: 1.6em;
}

.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}
.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
  background: #35383d;
}


#botton_menu{
    display: none;
}
/*-----------------------*/
/*LINK DI NAVIGAZIONE (Valentin)*/
#nav{
    width:100%;
    text-align: center;
    float: left;
    font-size: 0.75em;
    
}

#nav ul {
    width: 80%;
    margin: 0 auto;
}
#nav ul li, #nav_panel ul li {
    text-align: center;
    float: left;
    width: 12.5%; /* fallback for non-calc() browsers */
    width: calc(100% / 8);
}
#nav_panel ul li{
    width: 50%;
}

#nav ul li#active_link{
    color: #fff;
    padding: 1.2%;
    font-weight: 1000;
    background-color: #dc0933;
}
#nav_panel ul li.login_li{
    background-color: #f7f7f7;
}
#nav_panel ul li.registrati_li{
    background-color: #f7f7f7;
}
#nav_panel ul li.login_li a, #nav_panel ul li.registrati_li a{
     font-weight: bold;	 
}
#nav ul li a{
   display: block;
   padding: 10% 0;
   color: #fff;
   text-transform: uppercase;
   font-size: 1em;
   font-weight: bold;
}
#nav ul li a:hover, #nav_panel ul li a:hover {
    text-decoration: none;
}
.fa-user,.fa-pen{
    padding-right: 5%;
}

.dropbtn i{
    margin-left: 6%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0c1f34;
    width: calc(100% / 7);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#nav ul .dropdown-content a {
    padding: 5% 0;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.dropdown-content a:hover {background-color: #2561a2;border: 1px solid #ccc;}

.dropdown:hover .dropdown-content {
    display: block;
}
#mynav{
    display: none;
}
.breadcrumb li.first{
    padding: 0 2%;
}
.breadcrumb li.arrow_bread{
    padding: 0 1%;
}
/*
LANDING PAGE
*/
#landing{
    max-width: 100%;
    background-image: url(img/landing5.jpg);
    background-size: cover;
    background-position: center;
    left: 0;
    top:0;
}

#main_message{
  font-size: 180%;
  font-weight: 1000;
  color: #fff;
  padding: 4% 2% 30% 2%;
    width: 74%;
  margin-left: 27%;
  font-family: 'Rubik Mono One', sans-serif;
}
#second_message{
  color: #fff;
  width: 50%;
  padding: 2%;
   margin-left: 9%;
}
#landing .buttonPrezzi {
  display: inline-block;
  padding: 1% 0;
  border-bottom: none;
  margin-left: 9%;
}
#landing a:hover{
    color: #fff;
  background-color: #8a0620;
    text-decoration: none;
}
/*---------------------------------------*/

/*galleria*/
#gallery{
width: 100%;
max-width: 100%;
height: 80%;

}
#gallery img{
    height: 100%;
    width: auto;
}
#gallery .img-content{
    width: 100%;
    height: 100%;
}
#gallery .img-content img{
    width: 100%;
    height: auto;
}

/*--------------------------------
------------- ABBONAMENTI -------------
----------------------------------*/
#prezzi_section{

}
#prezzi_section #content_prezzi{
  overflow: auto;
  margin: 0 auto;
  background-color: #f4f4f4;

}
#prezzi_section #content_prezzi dl{
  width: 31%;
  float: left;
  margin: 2% 1.166% 4.166% 1.166%;
}
#prezzi_section #content_prezzi dd{
  overflow: auto;
  background:none no-repeat left top;
  background-size: contain;
  border-top: hidden;
  background-color: #fff;
  font-size: 80%;
  border: 1px solid #b3b3b3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.threeColumnsCard dd img{
  float: left;
  width: 100%;
  height: auto;
}
.desc_Abbonamento{
  float: left;
  text-align: center;
}
.threeColumnsCard dt{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: #fff;
  color: #000;
  padding: 4%;
}
.threeColumnsCard p{
  float: left;
  width: 100%;
  text-align: center;
  padding: 3.5%;

}

.threeColumnsCard  .prezzoAbbonamento{
	font-size: 2em;
  border-bottom: 1px solid #ccc;
}
.threeColumnsCard .nrMese{
	font-size: 0.5em;
}
#content_prezzi .buttonPrezzi {
  border-top: 1px solid #ccc;
	padding: 7% 0;
	border-bottom: none;
}

/*--------------------------------
------------- END ABBONAMENTI -------------
----------------------------------*/

/*--------------------------------
------------ALLENATORI -----------
----------------------------------*/
#allenatori_section #allenatori_content{
    overflow: auto;
    margin: 0 auto;
    background-color: #f4f4f4;
}
#allenatori_section #allenatori_content dl{
    float:left;
    width: 48%;
    margin:2% 1% 5% 1%;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
dt{
  text-align: center;
    background-color: #fff;
    color:#000;
    padding: 2% 0 1% 2%;
    font-weight: bold;
}
.twoColumnsCard dd{
    background:none no-repeat left top;
    background-size: contain;;
    overflow: hidden;
    border-top: hidden;
    padding:2% 1% 2% 1%;
    background-color: #fff;
    color: #000;
    font-size: 80%;
}
#allenatori_section .twoColumnsCardInner .socials_links{
    width: 100%;
    float: right;
    border-top: 1px solid #ccc;
    padding-top: 2%;

}
#allenatori_section .twoColumnsCardInner .socials_links li{
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
}

#allenatori_section{
    background-color: #f4f4f4;
    overflow: auto;
}
#allenatori_section dd p{
    display: block;
    text-align: justify;
    width: 95%;
    margin: 2% auto;
    font-size: 1em;
}
.twoColumnsCard dd img{
  display: block;
  max-width: 30%;
  margin:0 auto;
    height: auto;
}


/*--------------------------------
--------END ALLENATORI -----------
----------------------------------*/


/*--------------------------------
------------ CORSI ---------------
----------------------------------*/

#corsi_section{
  overflow: auto;
  background-color: #f4f4f4;
}
#content_corsi{
  overflow: auto;
  margin: 0 auto;
}
#content_corsi .twoColumnsCardDetails{
  overflow: auto;
  width: 30%;
  float: left;
  margin: 2% 1.66%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.twoColumnsCardDetails img {
  display: block;
  width: 30%;
  margin:10% auto;

}
.twoColumnsCardDetails p{
  text-align: justify;
  width: 90%;
  font-size: 0.8em;
  margin: 0 auto;
}
.twoColumnsCardDetails h3{
  color: #000;
}
.twoColumnsCardDetails a{
    width: 25%;
    background-color: #0c1f34;
    color: #fff;
    padding: 3.1%;
    border-radius: 4px;
  }
.twoColumnsCardDetails .buttonCorsi{

  	margin: 10% 5%;
  	border-bottom: none;
text-align: center;

  }
.twoColumnsCardDetails a:hover{
    text-decoration: none;
      background-color: #8a0620;
  }

/*--------------------------------
---------- END CORSI -------------
----------------------------------*/


/*--------------------------------
------------- FORM + MAP ---------
----------------------------------*/
#cont-form-map {
  padding: 2%;
  overflow: auto;
  width: 100%;
  display: table;
  background-color: #f2f2f2;
}
/*
input[type=text], textarea {
    width: 100%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1%;
    resize: vertical;
}

input[type=submit] {
    background-color: #f6214b;
    color: white;
    text-decoration: underline;
    padding: 3% 5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
  text-decoration: none;
    background-color:#8a0620;
}
*/
#container {
  display: table-cell;
  width: 50%;
}
#container form{
  padding-right: 5%;

}
#googleMap{
  display: table-cell;
}


/*--------------------------------
--- END FORM + MAP -----
----------------------------------*/


/*--------PAGINA------------
-----PROGRAMMAZIONE CORSI --------
----------------------------------*/

#custom_select{
	padding: 3% 0 1.5% 1.5%;
    color: #003366;
}
#custom_select label{
	padding-right: 0.5%;
}
#programma select {
   border: 2px outset #003366;
   color: inherit;
   margin: 1%;
   padding: 0.5%;
   background-image: linear-gradient(to bottom right, #e6f2ff, white);
}

#selezione_corso{
	background-color: #f2f2f2;
}

#TimeTableItem{
	border-collapse: collapse;
	width:100%;
}
#TimeTableItem tbody{
}

#TimeTableItem thead{
	border: 1px solid silver;
	background-color: #f2f2f2;
}

#TimeTableItem td{
	width: 12.5%;
}
#TimeTableItem th{
	padding: 1.5% 0;
}
#TimeTableItem tr td{
	border: 1px solid silver;
	text-align: center;
}
#OrarioContent{
	width: 88%;
	margin: auto;
	
    padding-bottom: 3%;
}

.TimeTableEntryTime div{
	display: inline-block;
}
.TimeTableEntryTimePeriod div{
	display: inline-block;
}
.TimeTableFitnessEntry{
	margin: 8%;
	padding: 2% 0;
	line-height: 1.5em;
  color: #0c1f34;
	border-radius: 5%;
  overflow: auto;
  background-color: #eaf2fa;
  font-size: 80%;
  border: 1px solid #eaf2fa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.TimeTableFitnessEntry p{
	font-size: 0.9em;
}
.TimeTableEntryTimeHolder, .TimeTableHead{
	color: #595959;
	font-weight: bold;
}

#MobileTimeTable{
    display: none;
}

/*END COLORI PER CATEGORIE CORSI*/
/*--------------------------------
--- END PROGRAMMAZIONE CORSI -----
------------PAGINA---------------*/


/*--------------------------------
------------- FOOTER -------------
----------------------------------*/
#footer{
    width: 100%;
    padding-top: 2.5%;
    overflow: auto;
    font-size: 0.7em;
}
#footer a:visited, #footer a:link{
    color: black;
}
#footer h2,#footer h3{
    text-align: left;
}
#footer h2{
    padding-bottom: 2%;
}
#sections{
    border-top: 1px solid silver;
    padding: 2.5% 0 1% 0;
    width: 95%;
    margin:auto;
}
#columns{
    overflow: auto;

}
#societa{
    float: left;
    padding: 0 1.5%;
    width: 26%;
}
#orario{
    float: left;
    padding: 0 1.5%;
    width: 26%;
}
#contattiFooter{
    float: left;
    padding: 0 1.5%;
    width: 19%;
}
#links{
    float: left;
    padding: 0 1.5%;
    width: 29%;
}
#socials{
    list-style: none;
    float: left;
    width: 45%;
    font-size: 2.5em;
}
#socials li{
    display: inline;
    margin-right:5%;
}
#closure{
    width:100%;
    border-top: 1px solid silver;
    padding-top: 1%;
    overflow: auto;
}
#copyright{
    float: right;
    margin: 0.5% 0;
}
#footer_icons{
    width: 100%;
    overflow: auto;
    margin-top: 4%;
    margin-bottom: 2%;
}
#WebSiteInfo{
    float: left;
    margin: 0.5% 0;
}
#sections p{
    padding-bottom: 2%;
}
#links p{
    padding-bottom: 3%;
}
#linksPart1{
    float: left;
    margin-right: 9%;
}
#linksPart2{
    float: left;
}
#closure h3{
    font-size: 0.975em;
    display: inline;
}
#validCode{
    float: right;
    width: 45%;
    display: inline-block;
}
#validCode img{
    float: right;
}
/*--------------------------------
----------END FOOTER -------------
----------------------------------*/
/*--------------------------------
----------PAGINA SU DI NOI--------
---------------------------------*/
/* Slideshow container */
#content_about_us{
  margin: auto;
  padding-bottom: 5%;
  padding-top: 5%;
  overflow: auto;
}
#content_about_us #paragrafi{
  width: 50%;
  float: left;
}
#content_about_us #paragrafi .desc_about_us{
  margin-bottom: 3%;
  text-align: justify;
}
.slideshow-container {
  width: 45%;
  float:right;
  position: relative;
  float: right;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.slideshow-container img{
  width: 100%;
}
/* Next & previous buttons */
.prev,.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*----------------------------
-----------END SU DI NOI------
-----------------------------*/

/*+++++++++++++ Torna su  +++++++++++*/
#tornasu {
    display: none;
    position: fixed;
    bottom: 3%;
    right: 1%;
    z-index: 99;
    font-size: 1em;
    border: none;
    outline: none;
    background-color: #fff;
    color: #0c1f34;
    cursor: pointer;
    border: 1px solid #0c1f34;
    width:3.1%;
    padding:0.8%;
    border-radius:50%;
}

#tornasu:hover {
    background-color: #0c1f34;
    color: #fff;
}

/*style Corsi.php*/
#corsi_section #content_corsi{
    overflow: auto;
    margin: 0 auto;
    background-color: #f4f4f4;  
    padding-bottom: 6%;
  
  }
  #corsi_section #content_corsi dl{
    width: 25%;
    float:left;
    margin :2% 4.166% 4.166% 4.166%;
  }
  #corsi_section #content_corsi dd{
    overflow: auto;
    background:none no-repeat left top;
    background-size: contain;
    border-top: hidden;
    background-color: #fff;
    font-size: 80%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
 
  .twoColumnsCardDetails dd img{
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 2%;
  }
  .desc_Abbonamento{
    float: left;
    text-align: center;
  }
  .twoColumnsCardDetails dt{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 4%;
  }
  .twoColumnsCardDetails .livello_corso{

    text-align: center;
    padding: 3.5%;
    border-bottom: 1px solid #ccc;
  }
  
  #content_corsi a{
      width: 42%;
      margin: auto;
      background-color: #0c1f34;
      color: #fff;
      padding: 3.1%;
      border-radius: 4px;
  }
  .twoColumnsCardDetails  .prezzoAbbonamento{
      font-size: 2em;
    border-bottom: 1px solid #ccc;
  }
  .twoColumnsCardDetails .nrMese{
      font-size: 0.5em;
  }
  #content_corsi .buttonPrezzi {
    border-top: 1px solid #ccc;
      padding: 7% 0;
      width: 100%;
      border-bottom: none;
  }
  #content_corsi .buttonPrezzi a {
    text-align: center;
    display: block;
    margin: 0 auto;
  }


  #content_corsi a:hover{
      color: #fff;
    background-color: #8a0620;
      text-decoration: none;
  }
.twoColumnsCardDetails .cont_corso .desc_corso{
      text-align: justify;
      padding: 2% 3%;
  }

  /*pilates in dettaglio*/

  #content_about_us #paragrafi .desc_pilates{
    margin-bottom: 3%;
    color: #676969;
    text-align: justify;
  }
  .fa-crosshairs, .fa-hand-holding-usd{
      font-size: 3.2em;
      color: #8a0620;
      display: inline-block;
     float: left;
  }
  #content_about_us p .obiettivo{
    font-size: 1.2em;
      color: #000;
      font-weight: bold;
      margin: 5% 3%;
      
  }
  #content_about_us #paragrafi h3{
      text-align: left;
      margin-left: 15%;
  }
  #content_about_us #paragrafi .text_course{
      float: left;
      width: 80%;
      margin-left: 6%;
  }
  #content_about_us #paragrafi div{
      margin-bottom: 10%;
      float: left;
  }
  #content_about_us span.livello_span{
      background-color: #8E0621;
      color: #ccc;
      padding: 2%;
  }
  /*----------------------------
-----------REGISTRAZIONE------
-----------------------------*/
#contenuto{
  width: 80%;
  margin: 2.5% auto;
  overflow: auto;
}
#content{
  overflow: hidden;
}
#intestazione h1{
text-align: center;
padding-bottom: 0;
}
#intestazione{
  text-align: center;
}
#intestazione h1{
  padding-bottom: 0;
}
#dati{
  width: 55%;
  float: left;
}
#signup_form{
  width: 85%;
  float: right;
  margin: 5%;
}
#descrizione{
  width: 30%;
  float: left;
  background-color: #fff2e6;
  border-radius: 0.2em;
  box-shadow: 0 6px 6px rgba(0,0,0,.075);
  margin: 15% 3% 0 3%;
  text-align: center;
  padding: 3% 0;
}
input{
  border: 0.1em solid #999999;
  border-radius: 0.2em;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
  color: #24292e;
  height: 1.7em;
}
fieldset{
  padding: 2.5%;
  border: 0.1em solid #999999;
  border-radius: 0.2em;
  margin-bottom: 2.5%;
}
label{
  color: #24292e;
  line-height: 2;
  font-weight: 600;
  font-size: 1em;
}
#input_data_nascita{
  display: inline;
}
.required label::after {
    color: #cb2431;
    content: "*";
    padding: 0 1% 0 1%;
}
.form_note{
  color: #586069;
  font-size: 0.8em;
  margin-bottom: 2%;
}
.confirm {
  padding: 3%;
  background-color: #4CAF50;
  color: white;
}
.confirmclosebtn {
  margin-left: 3%;
  color: white;
  font-weight: bold;
  line-height: 2;
  cursor: pointer;
  transition: 0.3s;
}
.confirmclosebtn:hover {
  color: black;
}


/*----------------------------
-----------END REGISTRAZIONE------
-----------------------------*/


/*admin*/
.sidebar{
  background-color: #f1f1f1;
  width: 18%;
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.admin-ul{
  padding: 0%;
  list-style-type: none;
  background-color: orange;
}
.sidebar li a{
  
  display: block;
  text-align: center;
  padding: 4%;
  text-decoration: none;
  
}

.topnavbar{
  width: 82%;
  float: right;
}


/*topnavbar*/
.topnavbar li a{
  float: left;
  display: block;
  text-align: center;
  padding: 4%;
  text-decoration: none;
}

