
*{
    margin:0;
    padding: 0;
    font-size: 1em;
    font-family: 'Poppins',Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
            box-sizing: border-box;
            font-weight: 200;
}
html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    background-color: #f4f4f4;
}
h1,h2,h3,h4,h5{
    padding: 2% 0;
    text-align: center;
    color:#8e2126;
}
ul{
    list-style: none;
}
li{
        list-style: none;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.25em;
}
h4{
    font-size: 1.10em;
}
.maxWidth{
    max-width: 1200px;
    margin:auto;
}
/*colori generali link (Valentin)*/
a{font-weight: bold;}
a:link {color: blue;}
a:visited {color: purple;}
a:hover {color: magenta;}
a:active {color: red;}

/*--------------------------------
------------HEADER(Valentin)----------------
----------------------------------*/
#header{
    width: 100%;
   /* background-color: #f7f7f7;*/
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 34px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 34px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 34px 0px rgba(255,255,255,1);
    font-size: 0.9em;
    font-weight: bold;
    }
/*--------------------------------
-------SEZIONE BREADCRUMBS(Valentin)------
----------------------------------*/
#first-section-header{
    width: 100%;
    background-color: #fff;
    overflow: auto;
    text-align: center;
}
#header #breadcrumbs_home{
    display: inline-block;
    width: 75%;
    float: left;
    padding: 0.6%;
}
/*siccome uso i float negli elementi child di breadcrumbs_home,
il contenitore padre ignora i floats. Aggiungo quindi del contenuto
vuoto tramite la pseudo classe obbligando il contenitore padre ad assumere
la dimensione totale dei div child.*/
#header #breadcrumbs_home:after{
    content: " ";
    display: block;
    clear: both;
}
ul.breadcrumb {
    display: inline-block;
    width: 60%;
    float: left;
    /*background-color: #d5d5d5;*/
    text-align: center;
    margin-top: 0.7%;
}
ul.breadcrumb #first:before{
    content: "";
}
ul.breadcrumb li {
    display: inline-block;
    font-size: 0.8em;
}
ul.breadcrumb li+li:before {
    content: "/\00a0";
}
ul.breadcrumb li a:hover {
    text-decoration: none;
}

/*---------------------------------------*/
    /*SEZIONE LINGUA(Valentin)*/
.lingua{
    float: left;
    width: 25%;
    /*background-color: #d5d5d5;*/
    color: #000;
    font-size: 0.8em;
    padding-top: 1.1%;
}
.lingua .label_lingua, .lingua #select_lingua {
    display: inline-block;
}
.lingua select{
    width: 30%;
    padding:0.7%;
}
/*---------------------------------
-------NAVIGAZIONE PRINCIPALE (Valentin)------
----------------------------------*/
#main_nav{
    width: 100%;
    overflow: auto;
}
#main_nav .maxWidth{
    background-color: #f6214b;
    overflow: auto;
}
/*--------LOGO----------*/
.logo{
    width: 15%;
    float: left;
    text-align: center;
    /*background-color: #f7f7f7;*/
}
.logo img{
    max-width: 95%;
    height: auto;
    float: left;
}
.logo a{
    display: block;
}
.logo #mobile{
    display: none;
}
#botton_menu{
    float: right;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/*-----------------------*/
/*LINK DI NAVIGAZIONE (Valentin)*/
#nav{
    width:100%;
    text-align: center;
    float: left;
    font-size: 0.75em;
}

#nav ul {
    width: 70%;
        overflow: hidden;
    margin: 0 auto;
}
#nav ul li, #nav_panel ul li {
    text-align: center;
    float: left;
    width: 12.5%; /* fallback for non-calc() browsers */
    width: calc(100% / 8);
}
#nav_panel ul li{
    width: 50%;
}

#nav ul li#active_link{
    color: #fff;
    padding: 1.2%;
}
#nav_panel ul li.login_li{
    background-color: #f7f7f7;
}
#nav_panel ul li.registrati_li{
    background-color: #f7f7f7;
}
#nav_panel ul li.login_li a, #nav_panel ul li.registrati_li a{
     font-weight: bold;
}
#nav ul li a{
   display: block;
   padding: 10% 0;
   color: #fff;
   text-transform: uppercase;
   font-size: 1em;
}
#nav ul li a:hover, #nav_panel ul li a:hover {
    text-decoration: none;
}
.fa-user,.fa-pen{
    padding-right: 5%;
}

/*--------------------------------
-------BARRA DI RICERCA (valentin)---- ------
----------------------------------*/
.search{
    width: 26%;
    float: left;
    text-align: center;
    margin-top: 1%;
}
#header .search button {
    background-color:none;
    border:none;
    cursor: pointer;
    color: #000;
    float: left;
    margin-top: 2%;
}
#header .search input[type=text]{
    width: 45%;
    color: #000;
    float: left;
    padding-top: 2.5%;
    margin-right: 0.4%;
   /* border: 2px solid #ccc;*/
    border-radius: 0.2em;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    outline: none;
}
#header .search input[type=text]:focus {
    width: 55%;
}
label#label_search{
    color: #000;
    font-size: 0.8em;
    float: left;
    padding-top: 2.5%;
    margin-right: 1%;
    margin-left: 2.4%;
}
.dropbtn i{
    margin-left: 6%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6214b;
    width: calc(100% / 7);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#nav ul .dropdown-content a {
    padding: 5% 0;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.dropdown-content a:hover {background-color: #f73158;border: 1px solid #ccc;}

.dropdown:hover .dropdown-content {
    display: block;
}
#mynav{
    display: none;
}
/*---------------------------------------*/

/*galleria*/
#gallery{
width: 100%;
max-width: 100%;
height: 80%;

}
#gallery img{
    height: 100%;
    width: auto;
}
#gallery .img-content{
    width: 100%;
    height: 100%;
}
#gallery .img-content img{
    width: 100%;
    height: auto;
}
#landing{
    max-width: 100%;
    height: 100%;
    background-image: url(img/landing.jpg);
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
}

/*--------------------------------
------------- ABBONAMENTI -------------
----------------------------------*/

#prezzi_section #content_prezzi{
  overflow: auto;
  width: 80%;
  margin: 0 auto;
  background-color: #f4f4f4;

}
#prezzi_section #content_prezzi dl{
  width: 25%;
  float:left;
  margin :2% 4.166% 4.166% 4.166%;
}
#prezzi_section #content_prezzi dd{
  overflow: auto;
  background:none no-repeat left top;
  background-size: contain;
  border-top: hidden;
  background-color: #fff;
  font-size: 80%;
  border: 1px solid #b3b3b3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#content_prezzi h2{
	color: #8e2126;
}
.Abbonamento dd img{
  float: left;
  width: 100%;
  height: auto;
}
.desc_Abbonamento{
  float: left;
  text-align: center;
}
.Abbonamento dt{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: #f4f4f4;
  color: #000;
  padding: 4%;
}
.Abbonamento p{
  float: left;
  width: 100%;
  text-align: center;
  padding: 3.5%;

}

#content_prezzi a{
    width: 25%;
    margin: auto;
    background-color: #f6214b;
    color: #fff;
    padding: 3.1%;
    border-radius: 4px;
}
.Abbonamento  .prezzoAbbonamento{
	font-size: 2em;
  border-bottom: 1px solid #ccc;
}
.Abbonamento .nrMese{
	font-size: 0.5em;
}
#content_prezzi .buttonPrezzi {
  border-top: 1px solid #ccc;
	padding: 7% 0;
	border-bottom: none;
}
#content_prezzi a:hover{
    color: #fff;
  background-color: #8a0620;
    text-decoration: none;
}
/*--------------------------------
------------- END ABBONAMENTI -------------
----------------------------------*/

/*--------------------------------
------------ALLENATORI -----------
----------------------------------*/
#allenatori_section #allenatori_content{
    width: 80%;
    overflow: auto;
    margin: 0 auto;
    background-color: #f4f4f4;
}
#allenatori_section #allenatori_content dl{
    float:left;
    background-color: #26de81;;
    width: 40%;
    margin:2% 5% 5% 5%;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
dt{
  text-align: center;
    background-color: #fff;
    color:#000;
    padding: 2% 0 1% 2%;
    font-weight: bold;
}
.allenatore dd{
    background:none no-repeat left top;
    background-size: contain;;
    overflow: hidden;
    border-top: hidden;
    padding:2% 1% 2% 1%;
    background-color: #fff;
    color: #000;
    font-size: 80%;
}
#allenatori_section .allen1 .socials_links{
    width: 100%;
    float: right;
    border-top: 1px solid #ccc;
    padding-top: 2%;

}
#allenatori_section .allen1 .socials_links li{
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
}

#allenatori_section{
    background-color: #f4f4f4;
    overflow: auto;
}
#allenatori_section dd p{
    display: block;
    text-align: center;
    width: 70%;
    margin: 2% auto;
    font-size: 1em;
}
.allenatore dd img{
  display: block;
  max-width: 30%;
  margin:0 auto;
    height: auto;
    border-radius: 50%;
}
.fab{
    color: #f6214b;
}
.fab:hover{
    color:#8a0620;
}


/*--------------------------------
--------END ALLENATORI -----------
----------------------------------*/


/*--------------------------------
------------ CORSI ---------------
----------------------------------*/

#corsi_section{
  overflow: auto;
  background-color: #f4f4f4;
}
#content_corsi{
  overflow: auto;
  width: 80%;
  margin: 0 auto;
}
#content_corsi .corso{
  overflow: auto;
  width: 30%;
  float: left;
  margin: 2% 1.66%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.corso img {
  display: block;
  width: 30%;
  margin:10% auto;

}
.corso p{
  text-align: center;
  width: 90%;
  font-size: 0.8em;
  margin: 0 auto;
}
.corso h3{
  color: #000;
}
.corso a{
    width: 25%;
    background-color: #f6214b;
    color: #fff;
    padding: 3.1%;
    border-radius: 4px;
  }
.corso .buttonCorsi{

  	margin: 10% 5%;
  	border-bottom: none;


  }
.corso a:hover{
    text-decoration: none;
      background-color: #8a0620;
  }

/*--------------------------------
---------- END CORSI -------------
----------------------------------*/


/*--------------------------------
------------- FORM + MAP ---------
----------------------------------*/
#cont-form-map {
  overflow: auto;
  width: 100%;
  display: table;
  background-color: #f2f2f2;
}

input[type=text], textarea {
    width: 100%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1%;
    resize: vertical;
}

input[type=submit] {
    background-color: #f6214b;
    color: white;
    text-decoration: underline;
    padding: 3% 5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
  text-decoration: none;
    background-color:#8a0620;
}

#container {
  display: table-cell;
  width: 50%;
  padding: 1%;
}
#container form{
  padding: 5%;

}
#googleMap{
  display: table-cell;
}


/*--------------------------------
--- END FORM + MAP -----
----------------------------------*/


/*--------PAGINA------------
-----PROGRAMMAZIONE CORSI --------
----------------------------------*/
#custom_select{
	padding: 3% 0 1.5% 1.5%;
    color: #003366;
}
#custom_select label{
	padding-right: 0.5%;
}
#programma select {
   border: 2px outset #003366;
   color: inherit;
   margin: 1%;
   padding: 0.5%;
   background-image: linear-gradient(to bottom right, #e6f2ff, white);
}

#selezione_corso{
	background-color: #f2f2f2;
}

#TimeTableItem{
	border-collapse: collapse;

}

#TimeTableItem thead{
	border: 1px solid silver;
	background-color: #f2f2f2;
}

#TimeTableItem td{
	width: 12.5%;
}
#TimeTableItem th{
	padding: 1.5% 0;
}
#TimeTableItem tr td{
	border: 1px solid silver;
	text-align: center;
}
#OrarioContent{
	width: 88%;
	margin: auto;
    padding-bottom: 3%;
}
#MobileTimeTable{
    display: none;
}
.TimeTableEntryTime div{
	display: inline-block;
}
.TimeTableEntryTimePeriod div{
	display: inline-block;
	font-weight: bold;
}
.TimeTableFitnessEntry{
	margin: 5%;
	padding: 2% 0;
	line-height: 1.5em;
	border-radius: 5%;
    background-color: #73AD21;
    color: white;
}
.TimeTableFitnessEntry a:link{
	color: white;
	font-weight: bold;
}
.TimeTableFitnessEntry a:visited{
	color: #595959;
}
.TimeTableFitnessEntry p{
	font-size: 0.9em;
}
.TimeTableEntryTimeHolder, .TimeTableHead{
	color: #595959;
	font-weight: bold;
}
/*--------------------------------
--- END PROGRAMMAZIONE CORSI -----
------------PAGINA---------------*/


/*--------------------------------
------------- FOOTER -------------
----------------------------------*/
#footer{
    background-color: #d9d9d9;
    width: 100%;
    padding-top: 2.5%;
    overflow: auto;
    font-size: 0.7em;
}
#footer a:visited, #footer a:link{
    color: black;
}
#footer h2,#footer h3{
    text-align: left;
}
#footer h2{
    padding-bottom: 2%;
}
#sections{
    border-top: 1px solid silver;
    padding: 2.5% 0 1% 0;
    width: 80%;
    margin:auto;
}
#columns{
    overflow: auto;

}
#societa{
    float: left;
    padding: 0 1.5%;
    width: 26%;
}
#orario{
    float: left;
    padding: 0 1.5%;
    width: 26%;
}
#contattiFooter{
    float: left;
    padding: 0 1.5%;
    width: 19%;
}
#links{
    float: left;
    padding: 0 1.5%;
    width: 29%;
}
#socials{
    list-style: none;
    float: left;
    width: 45%;
    font-size: 2.5em;
}
#socials li{
    display: inline;
    margin-right:5%;
}
#closure{
    width:100%;
    border-top: 1px solid silver;
    padding-top: 1%;
    overflow: auto;
}
#copyright{
    float: right;
    margin: 0.5% 0;
}
#footer_icons{
    width: 100%;
    overflow: auto;
    margin-top: 4%;
    margin-bottom: 2%;
}
#WebSiteInfo{
    float: left;
    margin: 0.5% 0;
}
#sections p{
    padding-bottom: 2%;
}
#links p{
    padding-bottom: 3%;
}
#linksPart1{
    float: left;
    margin-right: 9%;
}
#linksPart2{
    float: left;
}
#closure h3{
    font-size: 0.975em;
    display: inline;
}
#validCode{
    float: right;
    width: 45%;
    display: inline-block;
}
#validCode img{
    float: right;
}
/*--------------------------------
----------END FOOTER -------------
----------------------------------*/
