/*Header (Valentin)*/
/*
label#label_search{
    display: block;
    padding-bottom: 2%;
}
#header .search input[type="text"], #header .search input[type=text]:focus
{
    width: 80%;
}*/
#nav ul{
  width: 100%;
}
#nav ul li:first-of-type{
    margin: 0;
}
#nav ul li#active_link{
	padding: 3.1% 0;
}
#nav ul li a {
	padding: 25% 0;
}
.logo img{
    margin-top: 12%;
}
.overlay-content {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: 1%;

}

/*MIN WIDTH 481px - MAX WIDTH 600PX*/
/*--------------------------------
------------- FOOTER -------------
----------------------------------*/
#footer{
    font-size: 1.1em;
}
#sections{
    width: 90%;
}

#links{
    width: 30%;
}
#societa{
    width: 35%;
}
#orario{
    width: 35%;
}
#contattiFooter{
    width: 35%;
}
#closure{
}
#WebSiteInfo{
    float: left;
    width: 100%;
}
#validCode img{
	width: 30%;
}
#copyright{
    float: left;
}
/*--------------------------------
----------END FOOTER -------------
----------------------------------*/

/*--------------------------------
------------- ALLENATORI -------------
----------------------------------*/
#allenatori_section dd p{
  width: 90%;
}

/*--------------------------------
------------- END ALLENATORI -------------
----------------------------------*/

/*--------------------------------
------------- ABBONAMENTI -------------
----------------------------------*/
.Abbonamento .prezzoAbbonamento {
    font-size: 1.5em;
  }
/*--------------------------------
------------- END ABBONAMENTI -------------
----------------------------------*/

/*--------------------------------
-------CORSI ------
----------------------------------*/
#content_corsi .corso{
  width: 100%;
  float: left;
  margin: 0;
  border-bottom: 3px solid #eee;
  margin:2% 0 7% 0;
}
.corso p{
  font-size: 1.1em;

}
/*--------------------------------1
-------END CORSI ------
----------------------------------*/
