body{
  font-size: 85%;
}
h1{
    font-size: 150%;
    color: #0c1f34;
}
h2{
    font-size: 110%;
}
h3{
    font-size: 90%;
}
h4{
    font-size: 80%;
}
#footer{
  font-size: 90%;
}
#header{
	font-size: 1em;

}
#content_corsi{
  width: 100%;
}
.logo #desktop{
	display: none;
}
.logo_mobile{
	display: block;
	float: none;
border-bottom: 1px solid #c6c6c6;
}
.logo_mobile img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  margin-top: 0;
float:none;
padding-bottom: 2%;
}


#nav{
    display: none;
}

  .overlay a {font-size: 0.8em}
  .overlay .closebtn {
    font-size: 3em;
    top: 2%;
    right: 4%;
    color: #fff;
    text-decoration: none;
  }

.lingua{
	width:40%;

}
#header #breadcrumbs_home {
    width: 53%;
    margin-top: 0.7%;
}
ul.breadcrumb {
    display: inline-block;
    width: 100%;
    float: left;
    /* background-color: #d5d5d5; */
    text-align: center;
    margin-top:3%;
}
.lingua{
	width: 30%;
	margin-top: 2.4s;
}
.lingua>div{
	float: left;
}

#botton_menu {
    display: inline-block;
    width: 17%;
    float: right;
    font-size: 2em;
    cursor:pointer;
    font-weight: 300;
}
.cd-accordion-menu label, .cd-accordion-menu a {
    padding: 2.4% 3%;
    font-size: 0.8em;
}




#nav_desktop ul {
width: 80%;
}

/*MIN WIDTH 601PX - MAX WIDTH 768PX*/

/*--------------------------------
------------- FOOTER -------------
----------------------------------*/

/*--------------------------------
----------END FOOTER -------------
----------------------------------*/


/*Admin*/
.sidebar {
  width: 100%;
  height: auto;
  position: relative;
  
}
.sidebar  li {float: left;}
div.content {margin-left: 0;}


/*Hossain*/
#cont-form-map{
  width: 100%;
  padding: 0;
}
#contact_form{
  width: 80%;
}
.form-content{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

#allenatori_section {

    padding: 0;
}

#content_corsi {
    padding: 0;
}

#abbonamenti_section a.btn {
    width: 30%;
}