#nav ul li#active_link{
	padding: 4.1% 0;
}
#nav ul li a {
	padding: 25% 0;
}

/*MIN WIDTH 481px - MAX WIDTH 600PX*/
/*--------------------------------
------------- FOOTER -------------
----------------------------------*/
#footer{
    font-size: 1.1em;
}
#sections{
    width: 90%;
}

#links{
    width: 30%;
}
#societa{
    width: 35%;
}
#orario{
    width: 35%;
}
#contattiFooter{
    width: 35%;
}
#closure{
}
#WebSiteInfo{
    float: left;
    width: 100%;
}
#validCode img{
	width: 30%;
}
#copyright{
    float: left;
}
/*--------------------------------
----------END FOOTER -------------
----------------------------------*/
