#header{
	font-size: 1.29em;
}
.logo #desktop{
	display: none;
}
.logo #mobile{
	display: block;
	margin:0 auto;
}
.logo{
    width: 100%;
}
.logo img{
max-width: 40%;
height: auto;
}
#nav{
    display: none;
}
#nav_panel{
	display: none;
}
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


.lingua{
	width:40%;
}
.search_mobile{
	display: block;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 1%;
}
.search_mobile #label_search{
	color: #fff;
	z-index: 100;
}
#header #search_mobile input[type=text]{
	width: 70%;
	}
/*MIN WIDTH 601PX - MAX WIDTH 768PX*/
/*--------------------------------
------------- FOOTER -------------
----------------------------------*/

/*--------------------------------
----------END FOOTER -------------
----------------------------------*/
