/*Header (Valentin)*/
/*
label#label_search{
    display: block;
    padding-bottom: 2%;
}
#header .search input[type="text"], #header .search input[type=text]:focus
{
    width: 80%;
}*/

#nav ul li:first-of-type{
    margin: 0;
}
#nav ul li#active_link{
	padding: 2.8% 0;
}
#nav ul li a {
	padding: 25% 0;
}
.logo img{
    margin-top: 12%;
}

/*MIN WIDTH 481px - MAX WIDTH 600PX*/
/*--------------------------------
------------- FOOTER -------------
----------------------------------*/
#footer{
    font-size: 1.1em;
}
#sections{
    width: 90%;
}

#links{
    width: 30%;
}
#societa{
    width: 35%;
}
#orario{
    width: 35%;
}
#contattiFooter{
    width: 35%;
}
#closure{
}
#WebSiteInfo{
    float: left;
    width: 100%;
}
#validCode img{
	width: 30%;
}
#copyright{
    float: left;
}
/*--------------------------------
----------END FOOTER -------------
----------------------------------*/

/*--------------------------------
------------- ALLENATORI -------------
----------------------------------*/
#allenatori_section #allenatori_content{
  width: 97%;
}
#allenatori_section #allenatori_content dl{
  width: 47%;
  margin:2% 1.5% 4% 1.5%;
}
#allenatori_section .allen1 .socials_links li{
  font-size: 1.4em;
}

#allenatori_section dd p{
  width: 90%;
}

/*--------------------------------
------------- END ALLENATORI -------------
----------------------------------*/

/*--------------------------------
------------- ABBONAMENTI -------------
----------------------------------*/

  #prezzi_section #content_prezzi{
    width: 95%;
  }
  #prezzi_section #content_prezzi dl {
    width: 30%;
    float: left;
    margin: 2% 1.66% 4.166% 1.66%;
}
#content_prezzi  p{
  font-size: 0.9em;
}
#content_prezzi .prezzoAbbonamento{
  font-size: 1.9em;
}

/*--------------------------------
------------- END ABBONAMENTI -------------
----------------------------------*/

/*--------------------------------
-------CORSI ------
----------------------------------*/
#content_corsi{
  width: 85%;
}
.corso .buttonCorsi {
    margin: 5% 5%;
  }
#content_corsi .corso{
  width: 100%;
  float: left;
  margin: 0;
  margin:2% 0 7% 0;
}
.corso img {
    margin:2% auto;
}
#content_corsi .corso{
  width: 90%;
  margin: 2% 5% 7% 5%;
}
.corso p{
  font-size: 1.1em;

}
/*--------------------------------1
-------END CORSI ------
----------------------------------*/
