
<div id="footer">
    <div id="sections">
        <div id="columns">
            <div id="links">
                <h2> Links </h2>
                <div class="sectionText">
                    <div id="linksPart1">
                        <p><a href="*linksudinoi*">Su di noi</a></p>
                        <p><a href="*linkcorsi*">Corsi</a></p>
                        <p><a href="*linkallenatori*">Allenatori</a></p>
                    </div>
                    <div id="linksPart2">
                        <p><a href="*linkprogramma*">Programma settimanale</a></p>
                        <p><a href="*linkprezzi*">Prezzi</a></p>
                        <p><a href="*linkcontattaci*">Scrivici</a></p>
                        <p><a href="*linkdovecitrovi*">Dove ci trovi</a></p>
                    </div>
                </div>
            </div>
            <div id="societa">
                <h2> Informazioni Societarie </h2>
                <div class="sectionText">
                    <p><span xml:lang="en">AimFit</span> s.r.l.</p>
                    <p>Via Galleria Degli Scrovegni, 1</p>
                    <p>35121 - Padova (PD)</p>
                    <p>Partita IVA 0123456789123</p>
                </div>
            </div>

            <div id="orario">
                <h2> Orario </h2>
                <div class="sectionText">
                    <p>Luned&igrave;-Venerd&igrave; dalle 7:00 alle 22:00</p>
                    <p>Sabato dalle 8:00 alle 13:00</p>
                    <p>Domenica chiuso!</p>
                </div>
            </div>
            <div id="contattiFooter">
                <h2> Contatti </h2>
                <div class="sectionText">
                    <p> Tel/Fax: +39 049 661227 </p>
                    <p> <span xml:lang="en">Email</span>: <a href="mailto:info@aimfit.com">info@aimfit.com </a></p>
                </div>
            </div>
        </div>
        <div id="footer_icons">
            <div id="validCode">
                <a href="https://validator.w3.org">
                    <img src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Logo di validazione del W3C: il sito risulta conforme ai test per CSS3 del W3C" />
                </a>
                <a href="https://validator.w3.org/check">
                    <img src="http://www.w3.org/Icons/valid-xhtml10" alt="Logo di validazione del W3C: il sito risulta conforme ai test per XHTML1.0 strict del W3C"/>
                </a>
            </div>
        </div>
        <div id="closure">
            <div id="WebSiteInfo" >
                <h3><a href="http://">Privacy</a></h3> <span> - </span>
                <h3><a href="http://">Cookie Policy</a></h3> <span> - </span>
                <h3><a href="http://">Condizioni Acquisto</a></h3>
            </div>
            <div id="copyright">
                <p> Sito realizzato per il progetto di tecnologie web.</p>
            </div>
        </div>
    
    </div>
</div> 

*gotop*

</div> <!-- end main_content -->
      
*script*
</body>
</html>