<body>


<div id="main_container">
  <div id="fixed">
  <div id="first-section-header">
    <div id="breadcrumb">*breadcrumbs*</div>
    <ul id="desktop_user_signup">
      *linkregistrazione*
      *linklogin*
      *welcomeMessage*
    </ul>
  </div>


  <div id="nav_mobile">
    <div id="mobile_header">
      
      <input type="checkbox" id="show_menu">
      <label for="show_menu">
        <img id ="hmenu" src="./css/img/h-menu.png" alt="icona apri menu"/>
        <img id ="xmenu" src="./css/img/x.png" alt="icona chiudi menu"/>
      </label>

      <img id ="logo_mobile" src="./css/img/logo.png" alt="Logo AimFit"/>
      <div id="menu_m_content">
      
        <ul id="menu_mobile">
          *linkhome*
          *linkcorsi*
          *linkprogramma*
          *linkprezzi*
          *linkchisiamo*
          *linkallenatori*
          *linkcontattaci*
        </ul>
        <ul id="mobile_authentication">
          *linkregistrazione*
          <span id="separator">&VerticalSeparator;</span>
          *linklogin*
        </ul>
      </div>
    </div>
</div>    

<!-- Use any element to open/show the overlay navigation menu -->
  </div> <!-- END HEADER --> 

  

  <div id="nav_desktop">
    <div id="logo">
      <img src="./css/img/logo.png" alt="Logo AimFit"/>

    </div>
    <div>
      <ul>
        *linkhome*
        *linkcorsi*
        *linkprogramma*
        *linkprezzi*
        <li>
          <a>Su di noi &#8595; </a>
          <ul>
            *linkchisiamo*
            *linkallenatori*
            *linkcontattaci*
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <noscript><p> Attenzione: per usufruire di tutte le funzionalità offerte dal sito ti preghiamo di attivare javascript!</p></noscript>