<body>
<div id="main_container">
  <div id="header">
    <div id="logo_mobile">
      <img src="./css/img/logo_pro3.png" alt="Logo AimFit"/>
    </div>
  
    <div id="first-section-header">
      <!--<ul id="breadcrumb">
        <li><span>Ti trovi in: </span></li>
        <li id="first"><a href="*linkhome*"> Home </a></li>
        <li class="arrow_bread"><i class="fas fa-angle-double-right"></i></li>
        <li id="first"><a href="*linkhome*"> Home </a></li>
        <li class="arrow_bread"><i class="fas fa-angle-double-right"></i></li>
        <li id="first"><a href="*linkhome*"> Home </a></li>
        <li class="arrow_bread"><i class="fas fa-angle-double-right"></i></li>
        <li>Italy</li>
      </ul> -->
      <div id="breadcrumb">*breadcrumbs*</div>
      <div id="logo">
        <img src="./css/img/logopro3.png" alt="Logo AimFit"/>
      </div>
    </div>
    <!-- The overlay -->
    <div id="myNav" class="overlay">
      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <!-- Overlay content -->
      <div class="overlay-content">
        <ul class="cd-accordion-menu animated">
          *linkhome*
          <li id="dropdown">
            <a href="javascript:void(0)">Su di noi<i class="fas fa-sort-down dropbtn"></i> </a>
              <ul id="dropdown-content">
                  *linkchisiamo*
                  *linkallenatori*
                  *linkcontattaci*
              </ul>
          </li>
          *linkcorsi*
          *linkprogramma*
          *linkprezzi*
          *linkregistrazione*
          *linklogin*
        </ul> <!-- cd-accordion-menu -->
      </div>
    </div>

<!-- Use any element to open/show the overlay navigation menu -->
  </div> <!-- END HEADER --> 

  <div id="main_nav">
    <div id="nav">
      <ul>
        *linkhome*
        <li id="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Su di noi<i class="fas fa-sort-down"></i> </a>
          <ul id="dropdown-content">
            *linkchisiamo*
            *linkallenatori*
            *linkcontattaci*
          </ul>
        </li>
        *linkcorsi*
        *linkprogramma*
        *linkprezzi*
        *linkregistrazione*
        *linklogin*
      </ul>
    </div>
  </div> <!--end main_nav--> 

