<body>
<div id="main_container">
  <div id="header">
    <div id="logo_mobile">
      <img src="./css/img/logot.png" alt="Logo AimFit"/>
    </div>
  
    
    <!-- The overlay -->
    <div id="myNav" class="overlay">
      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <!-- Overlay content -->
      <div class="overlay-content">
        <ul class="cd-accordion-menu animated">
          *linkhome*
          <li id="dropdown">
            <a href="javascript:void(0)">Su di noi<i class="fas fa-sort-down dropbtn"></i> </a>
              <ul id="dropdown-content">
                  *linkchisiamo*
                  *linkallenatori*
                  *linkcontattaci*
              </ul>
          </li>
          *linkcorsi*
          *linkprogramma*
          *linkprezzi*
        </ul> <!-- cd-accordion-menu -->
      </div>
    </div>

<!-- Use any element to open/show the overlay navigation menu -->
  </div> <!-- END HEADER --> 

<div id="first-section-header">
      <div id="breadcrumb">*breadcrumbs*</div>
      
          *linkregistrazione*
          *linklogin*
    </div>
    <div id="nav_desktop">
      <div id="logo">
        <img src="./css/img/logo.png" alt="Logo AimFit"/>
      </div>
      <div>
      <ul>
        
        *linkhome*
        <li>
          <a>Su di noi &#8628; </a>
          <ul>
            *linkchisiamo*
            *linkallenatori*
            *linkcontattaci*
          </ul>
        </li>
        *linkcorsi*
        *linkprogramma*
        *linkprezzi*
      
      </ul>
    </div>
    </div>