<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="it" xml:lang="it" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="./css/user_backend.css" media="handheld, screen, only screen"  type="text/css"/>
    <link rel="stylesheet" href="./css/cssbackend/smallPhone.css" media="handheld, screen and (max-width:480px), only screen and (max-device-width:480px)"  type="text/css"/>
    <link rel="stylesheet" media="screen and (min-device-width: 800px)" href="800.css" />
</head>

<body>
<div id="topnav_user">
	<ul id="user_ul">
		*torna*
		*abbonamenti*
		*dati*
		*email*
		*disconnetti*
	</ul>
</div>