#dati{

    float: left;
  }

/*++++++++form modifica corsi*/
input[type=submit] {
    float: none;
    align-items: center;
}

#contenuto {
    width: 70%;
    margin-left: 27%;
    overflow: auto;
}
