/* Responsive navigation menu (for mobile devices) */
.topnav{
    background-color: blueviolet;
}

    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
    
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  
    #dati{
      width: 100%;
      float: left;
  
    }
  
    #contenuto{
      width: 100%;
      margin: 0;
    }

    #dati button{
      font-size: 200%;
    
    }