

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="it" xml:lang="it" xmlns="http://www.w3.org/1999/xhtml">

<head>
<!--specifica il charset-->
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

 <!--specifica il titolo-->
 <title>*title*</title>
 <!--specifica il titolo per esteso-->
     <meta name="title" content="Pagin admin" />
     <!--breve descrizione del sito-->
     <meta name="description" content="*description*" />
     <meta name="keywords" content="*keywords*" />
     <meta name="language" content="italian it" />
     <meta name="author" content="Valentin Grigoras, Irina Hornoiu, Hossain Saftdari, Eduard Serban" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"/>
<link rel="stylesheet" href="./../../../css/css_backend/style_backend.css" media="handheld, screen, only screen"  type="text/css"/>
<h1>from backend head html</h1>
<!--


<link href="https://fonts.googleapis.com/css?family=Arima+Madurai:300,400,700" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./css/tablet_landscape.css" media="handheld, screen and (max-width:1060px), only screen and (max-device-width:1060px)"  type="text/css"/>
<link rel="stylesheet" href="./css/tablet_portrait.css" media="handheld, screen and (max-width:768px), only screen and (max-device-width:768px)"  type="text/css"/>
<link rel="stylesheet" href="./css/phone_landscape.css" media="handheld, screen and (max-width:600px), only screen and (max-device-width:600px)"  type="text/css"/>
<link rel="stylesheet" href="./css/phone_portrait.css" media="handheld, screen and (max-width:480px), only screen and (max-device-width:480px)"  type="text/css"/>
<link rel="stylesheet" href="./css/small_phone.css" media="handheld, screen and (max-width:320px), only screen and (max-device-width:320px)"  type="text/css"/>
<link type="text/css" rel="stylesheet" href="style/print_style.css" media="print"/>
-->

</head>

</html>